@using EspaçoVerdeLogin.ViewModels;
@model ChangePasswordViewModel;

@{
    ViewData["Title"] = "Trocando Senha";
    Layout = "_AccountLayout";
}

<div class="container my-5">
    <div class="col-lg-7 bg-light p-5 d-flex flex-column justify-content-center">
        <h2 class="text-center mb-4">Trocar senha</h2>
        <form asp-action="ChangePassword" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label class="form-label" asp-for="Email">Email</label>
                <input type="email" class="form-control" asp-for="Email" placeholder="E-mail: Ex: email@gmail.com" readonly>
            </div>

            <div class="mb-3">
                <label class="form-label" asp-for="NewPassword">Nova senha</label>
                <input type="password" class="form-control" asp-for="NewPassword" placeholder="E-mail: Ex: email@gmail.com">
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label class="form-label" asp-for="ConfirmNewPassword">Confirme a nova senha</label>
                <input type="password" class="form-control" asp-for="ConfirmNewPassword" placeholder="E-mail: Ex: email@gmail.com">
                <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
            </div>

            <input type="submit" value="submit" class="btn btn-success w-100 p-2" />
            <div class="text-center">
                <a asp-controller="Account" asp-action="VerifyEmail" class="text-decoration-none mt-3">Back</a>
            </div>
        </form>
    </div>
</div>
</div>


@section Scripts {
    @{
        await Html.PartialAsync("_ValidationScriptsPartial");
    }
}