@using EspaçoVerdeLogin.ViewModels;
@model EspaçoVerdeLogin.ViewModels.RegisterViewModel;

@{
    ViewData["Title"] = "Register";
	Layout = "_AccountLayout";
}

<div class="container my-5">
    <div class="row g-0 shadow-lg rounded">
        <!-- Painel Esquerdo -->
        <div class="col-lg-5 text-white text-center p-4 d-flex flex-column justify-content-center" style="background-color: #4A7F4F;">
            <div class="d-flex justify-content-center">
                <img src="~/vendor/icons/IconeComFundo.svg" alt="logo" width="100" class="mb-4">
            </div>
            <h1>Bem-Vindo!</h1>
            <p>Deseja voltar para a página inicial?</p>
            <a asp-controller="Home" asp-action="Index" class="text-white btn btn-warning mb-3 align-content-center">Home</a>
            <p>Já tem uma conta? Faça o seu login</p>
            <a asp-controller="Account" asp-action="Login" class="text-white btn btn-warning mb-3 align-content-center">Login</a>
        </div>

        <!-- Painel Direito -->
        <div class="col-lg-7 bg-light p-5 d-flex flex-column justify-content-center">
            <h2 class="text-center mb-4">Cadastro</h2>
            <form method="post" asp-action="Register">

                <label asp-for="RazaoSocial" class="m-2"></label>
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="Razao Social: Ex: EMPRESAX" asp-for="RazaoSocial" required>
                    <span asp-validation-for="RazaoSocial" class="text-danger"></span>
                </div>

                <label asp-for="Email" class="m-2"></label>
                <div class="mb-3">
                    <input type="email" class="form-control" placeholder="E-mail: Ex: email@gmail.com" asp-for="Email" required>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <label asp-for="Password" class="m-2"></label>
                <div class="mb-3">
                    <input type="password" class="form-control" placeholder="Senha: Ex: ********" asp-for="Password" required>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <label asp-for="ConfirmPassword" class="m-2"></label>
                <div class="mb-3">
                    <input type="password" class="form-control" placeholder="Senha: Ex: ********" asp-for="ConfirmPassword" required>
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>

                <label asp-for="CNPJ" class="m-2"></label>
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="CNPJ:" asp-for="CNPJ" required>
                    <span asp-validation-for="CNPJ" class="text-danger"></span>
                </div>
                <p class="text-center mt-2">
                    Tem uma conta? <a asp-controller="Account" asp-action="Login" class="text-decoration-none">Login</a>
                </p>
                <div class="d-flex justify-content-center">
                    <button class="btn btn-warning mb-3 text-light" type="submit" value="register">Cadastrar</button>
                </div>
                <div class="text-center">
                    <a asp-controller="Home" asp-action="Index" class="text-decoration-none mt-3">Voltar</a>
                </div>
            </form>
        </div>
    </div>
</div>