@{
    ViewData["Title"] = "Sobre Nós";
}

<div class="container">
    <main>
        <div class="text-center mt-4 mb-5">
            <h1>Sua Plataforma de Reciclagem Metalúrgica</h1>
        </div>

        <div class="container">
            <div class="row align-items-center mb-5">
                <div class="col-md-7 mb-3 mb-md-0">
                    <h2>Sobre Projeto</h2>
                    <p>
                        Nossa plataforma visa fomentar a economia circular, promovendo o reaproveitamento desses materiais e, assim, contribuindo para a redução do impacto ambiental. Buscamos minimizar a poluição, preservando os ecossistemas terrestres e protegendo a fauna e a flora que dependem de um ambiente saudável.
                    </p>
                </div>

                <div class="col-md-5 text-center">
                    <img src="~/vendor/imgs/cavaco_metalurgica.webp" alt="metalurgia ilustrada" class="img-fluid rounded">
                </div>
            </div>

            <div class="row align-items-center mb-5">
                <div class="col-md-5 text-center mb-3 mb-md-0">
                    <img src="~/vendor/imgs/Metalurgia02.jpg" alt="metalurgia ilustrada" class="img-fluid rounded-5">
                </div>

                <div class="col-md-7">
                    <p>
                        O desenvolvimento do projeto segue a metodologia de Prototipação, que nos permite iterar continuamente e ajustar a plataforma conforme o feedback dos usuários. Ao longo do processo, temos a oportunidade de integrar conhecimentos adquiridos em diferentes disciplinas e aplicar práticas ágeis, criando uma solução prática e alinhada com as necessidades reais dos nossos usuários.
                    </p>
                    <p class="mt-3">
                        Com este projeto, almejamos não só atender às demandas de uma indústria em crescimento, mas também fazer a nossa parte na construção de um futuro mais responsável e sustentável para todos.
                    </p>
                </div>
            </div>
        </div>

        <a id="sobrenos"></a>
        <div class="container mb-5">
            <div class="row">
                <div class="col-12 mb-3">
                    <h2>Sobre Nós</h2>
                </div>

                <div class="row align-items-center mb-5">
                    <div class="col-12 col-md-7">
                        <p>
                            Somos um grupo de alunos do curso de Desenvolvimento de Software Multiplataforma da Fatec Matão Luiz Marchesan, comprometidos com a criação de soluções tecnológicas que contribuem para a sustentabilidade e preservação do meio ambiente. Nosso projeto foi inspirado pelos Objetivos de Desenvolvimento Sustentável da ONU, em particular os relacionados ao "Consumo e Produção Responsável" e "Vida Terrestre". Ao identificar o impacto negativo do descarte inadequado de resíduos metálicos nas empresas, decidimos desenvolver uma plataforma digital que conecta empresas metalúrgicas que necessitam de metais a empresas que descartam resíduos metálicos.
                        </p>
                    </div>

                    <div class="col-12 col-md-5 text-center">
                        <img src="~/vendor/imgs/img_metalurgia02.jpg" alt="imagem metalurgia" class="img-fluid rounded">
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
